<footer>
&copy; {{ now.Format "2006"}} {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ end }}
</footer>

<script>
  const header = document.querySelector("header");
  const scrollWatcher = document.createElement("div");
  const hero = document.querySelector(".hero");
  const margin = hero ? `${hero.offsetHeight/4}px` : "0px";
  scrollWatcher.setAttribute("data-scroll-watcher", "")
  header.before(scrollWatcher);
  const observer = new IntersectionObserver((entries) => {
    header.classList.toggle('sticking', !entries[0].isIntersecting);
  }, {rootMargin: `${margin} 0px 0px 0px`});
  observer.observe(scrollWatcher);
</script>